<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUAPI</title>
</head>
<body>

   <div>
    <h1>Novo Registro</h1>
   </div>

   <div>
    <form action="/novo_registro" method="post">
        <label for="disciplinas">Disciplina:</label>
        <input type="text" name="disciplina"><br><br>

        <label for="nota">Nota 1:</label>
        <input type="number" name="nota1"><br><br>

        <label for="nota">Nota 2:</label>
        <input type="number" name="nota2"><br><br>

        <button type="submit" value="salvar" >Salvar</button>


    </form>
   </div>
    
</body>
</html>