<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>FORMULÁRIO</h1>
    </div>

    <div>
        <form action="/ola" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nome1" >
            <button type="submit" value="enviar"> Enviar
        </form>
    </div>

    <div>
        <h1>SOMA</h1>
    </div>

    <div>
        <form action="/calculo" method="post">
            <label for="nome">Número 1:</label>
            <input type="number" name="num1" ><br>
            <label for="nome">Número 2:</label>
            <input type="number" name="num2" >
            <button type="submit" value="enviar"> Somar
        </form>
    </div>
</body>
</html>
